<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container" *ngIf="user">
  <mat-chip-list>
    <mat-chip routerLink="/users" routerLinkActive="active">{{ 'MENU.USERS' | translate }}</mat-chip>
    <mat-chip disabled>{{ user.id ? user.username : ('USER.NEW' | translate) }}</mat-chip>
    <button *ngIf="user.id" mat-raised-button class="right" color="warn" [disabled]="isDeleting" (click)="delete()">{{ 'USER.DELETE' | translate }}</button>
  </mat-chip-list>
  <h4>
    {{ (user.id ? 'USER.EDITTITLE' : 'USER.CREATETITLE') | translate }}
  </h4>
  <form class="spms-form" [formGroup]="userForm">
    <mat-form-field class="spms-form-field short-form-field">
      <input matInput placeholder="{{ 'USER.USERNAME' | translate }}" [formControl]="username" required>
      <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required">{{ 'USER.MISSINGUSERNAME' | translate }}</mat-error>
      <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.minlength">{{ 'USER.USERNAMELENGTH' | translate }}</mat-error>
    </mat-form-field>
    <div class="spms-form-field-group">
      <mat-form-field class="medium-form-field">
        <input matInput placeholder="{{ 'USER.NAME' | translate }}" [formControl]="name">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">{{ 'USER.MISSINGNAME' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="medium-form-field">
        <input matInput placeholder="{{ 'USER.SURNAME' | translate }}" [formControl]="surname">
        <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched) && surname.errors.required">{{ 'USER.MISSINGSURNAME' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="spms-form-field medium-form-field">
      <input matInput type="email" placeholder="{{ 'USER.EMAIL' | translate }}" [formControl]="email" required>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">{{ 'USER.MISSINGEMAIL' | translate }}</mat-error>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.email">{{ 'USER.INVALIDEMAIL' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="spms-form-field short-form-field">
      <input matInput type="password" placeholder="{{ 'USER.PASSWORD' | translate }}" [formControl]="password" required>
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">{{ 'USER.MISSINGPWD' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="spms-form-field" floatLabel="always" appearance="none">
      <mat-slide-toggle color="primary" [formControl]="enabled">{{ 'USER.ENABLED' | translate }}</mat-slide-toggle>
      <textarea matInput hidden></textarea>
    </mat-form-field>
    <mat-form-field class="spms-form-field medium-form-field">
      <mat-label>{{ 'USER.ROLES' | translate }}</mat-label>
      <mat-select [formControl]="roles" multiple required>
        <mat-option *ngFor="let role of allRoles" [value]="role.id">{{role.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="roles.invalid && (roles.dirty || roles.touched) && roles.errors.required">{{ 'USER.MISSINGROLE' | translate }}</mat-error>
    </mat-form-field>
  </form>
  <div class="button-row-right">
    <button type="submit" mat-raised-button color="primary" (click)="save()" [disabled]="isSaving || userForm.invalid">{{ 'USER.SAVE' | translate }}</button>
    <button mat-raised-button (click)="goBack()" tabindex="-1">{{ 'DIALOG.BACK' | translate }}</button>
  </div>
</div>