<div class="main-container" *ngIf="productionOrder">
  <mat-chip-list>
    <mat-chip routerLink="/dashboard" routerLinkActive="active">Dashboard</mat-chip>
    <mat-chip disabled routerLink="/productionOrder/{{productionOrder.id}}/phases" routerLinkActive="active">{{ 'PHASES.TITLE' | translate }}</mat-chip>
  </mat-chip-list>
  <h2>{{'PHASES.TITLE' | translate }} - {{'PRODUCTIONORDER.TITLE' | translate }} {{productionOrder.production_order_code}}</h2>
  <p>{{productionOrder.raw_material.name}}: {{productionOrder.weight_raw_material}} Kg - {{productionOrder.tons_raw_material}} T - {{productionOrder.density_raw_material}}%</p>
  <p>{{productionOrder.expected_mixture_mode.name}}: {{productionOrder.expected_mixture_temperature}} °C</p>
  <p>{{productionOrder.packaging.packaging_mode}}</p>
  <p><b>{{ 'PRODUCTIONORDER.DELIVERYDATE' | translate }}: {{productionOrder.delivery_date_string}}</b></p>
  <mat-list class="mat-list spms-list">
    <mat-list-item class="mat-list-item clickable" *ngFor="let sf of productionOrder.setting_phases" (click)="toPhase('settingPhase', sf.id)">
      <div class="mat-list-item-content" [class.current-phase]="sf.current">
        <span>
          <span class="mat-list-item-bold-title">{{ 'SETTINGPHASE.TITLE' | translate }}:</span><br/>
          {{ 'SETTINGPHASE.START' | translate }}: {{sf.start_time_string}}<br/>
          {{ 'SETTINGPHASE.END' | translate }}: {{sf.end_time_string}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="canAddPhase" class="mat-list-item-add-phase clickable" (click)="newPhase('settingPhase')">
      <span class="mat-list-item-underline-title">{{ 'SETTINGPHASE.NEW' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list class="mat-list spms-list">
    <mat-list-item class="mat-list-item clickable" *ngFor="let sf of productionOrder.system_preparation_phases" (click)="toPhase('systemPreparationPhase', sf.id)">
      <div class="mat-list-item-content" [class.current-phase]="sf.current">
        <span>
          <span class="mat-list-item-bold-title">{{ 'SYSTEMPREPARATIONPHASE.TITLE' | translate }}:</span><br/>
          {{ 'SYSTEMPREPARATIONPHASE.START' | translate }}: {{sf.start_time_string}}<br/>
          {{ 'SYSTEMPREPARATIONPHASE.END' | translate }}: {{sf.end_time_string}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="canAddPhase" class="mat-list-item-add-phase clickable" (click)="newPhase('systemPreparationPhase')">
      <span class="mat-list-item-underline-title">{{ 'SYSTEMPREPARATIONPHASE.NEW' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list class="mat-list spms-list">
    <mat-list-item class="mat-list-item clickable" *ngFor="let sf of productionOrder.cleaning_phases" (click)="toPhase('cleaningPhase', sf.id)">
      <div class="mat-list-item-content" [class.current-phase]="sf.current">
        <span>
          <span class="mat-list-item-bold-title">{{ 'CLEANINGPHASE.TITLE' | translate }}:</span><br/>
          {{ 'CLEANINGPHASE.START' | translate }}: {{sf.start_time_string}}<br/>
          {{ 'CLEANINGPHASE.END' | translate }}: {{sf.end_time_string}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="canAddPhase" class="mat-list-item-add-phase clickable" (click)="newPhase('cleaningPhase')">
      <span class="mat-list-item-underline-title">{{ 'CLEANINGPHASE.NEW' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list class="mat-list spms-list">
    <mat-list-item class="mat-list-item clickable" *ngFor="let sf of productionOrder.working_phases" (click)="toPhase('workingPhase', sf.id)">
      <div class="mat-list-item-content" [class.current-phase]="sf.current">
        <span>
          <span class="mat-list-item-bold-title">{{ 'WORKINGPHASE.TITLE' | translate }}:</span><br/>
          {{ 'WORKINGPHASE.START' | translate }}: {{sf.start_time_string}}<br/>
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="canAddPhase" class="mat-list-item-add-phase clickable" (click)="newPhase('workingPhase')">
      <span class="mat-list-item-underline-title">{{ 'WORKINGPHASE.NEW' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list *ngIf="currentUser && (currentUser.isResp || currentUser.isAdmin)" class="mat-list spms-list">
    <mat-list-item class="mat-list-item clickable" *ngFor="let sf of productionOrder.validation_phases" (click)="toPhase('validationPhase', sf.id)">
      <div class="mat-list-item-content">
        <span>
          <span class="mat-list-item-bold-title">{{ 'VALIDATIONPHASE.TITLE' | translate }}:</span><br/>
          {{ 'VALIDATIONPHASE.START' | translate }}: {{sf.start_time_string}}<br/>
          {{ 'VALIDATIONPHASE.END' | translate }}: {{sf.end_time_string}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="canAddPhase" class="mat-list-item-add-phase clickable" (click)="newPhase('validationPhase')">
      <span class="mat-list-item-underline-title">{{ 'VALIDATIONPHASE.NEW' | translate }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div class="button-row-right">
    <button type="submit" mat-raised-button color="primary" (click)="close()">{{ 'PHASES.TERMINATE' | translate }}</button>
  </div>
</div>
