<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container" *ngIf="rawMaterial">
  <mat-chip-list>
    <mat-chip routerLink="/rawmaterials" routerLinkActive="active">{{ 'MENU.RAWMATERIALS' | translate }}</mat-chip>
    <mat-chip disabled>{{ rawMaterial.id ? rawMaterial.name : ('RAWMATERIAL.NEW' | translate) }}</mat-chip>
    <button *ngIf="rawMaterial.id" mat-raised-button class="right" color="warn" [disabled]="isDeleting" (click)="delete()">{{ 'RAWMATERIAL.DELETE' | translate }}</button>
  </mat-chip-list>
  <h4>
    {{ (rawMaterial.id ? 'RAWMATERIAL.EDITTITLE' : 'RAWMATERIAL.CREATETITLE') | translate }}
  </h4>
  <form class="spms-form" [formGroup]="rawMaterialForm">
    <div class="spms-form-field-group">
      <mat-form-field class="medium-form-field">
        <input matInput placeholder="{{ 'RAWMATERIAL.NAME' | translate }}" [formControl]="name">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">{{ 'RAWMATERIAL.MISSINGNAME' | translate }}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="button-row-right">
    <button type="submit" mat-raised-button color="primary" (click)="save()" [disabled]="isSaving || rawMaterialForm.invalid">{{ 'RAWMATERIAL.SAVE' | translate }}</button>
    <button mat-raised-button (click)="goBack()" tabindex="-1">{{ 'DIALOG.BACK' | translate }}</button>
  </div>
</div>