<div class="main-container">
  <h2>Dashboard</h2>
  <mat-nav-list>
    <mat-list-item *ngFor="let productionorder of filteredProductionOrders" (click)="start(productionorder.id)">
      <h3 matLine><b>{{productionorder.production_order_date_string}} - {{productionorder.customer.name}}: {{productionorder.production_order_code}} ({{productionorder.production_number_lot}})</b></h3>
      <p matLine>{{productionorder.raw_material.name}}: {{productionorder.weight_raw_material}} Kg - {{productionorder.tons_raw_material}} T - {{productionorder.density_raw_material}}%</p>
      <p matLine>{{productionorder.expected_mixture_mode.name}}: {{productionorder.expected_mixture_temperature}} C</p>
      <p matLine>{{productionorder.packaging.packaging_mode}}</p>
      <p matLine><b>{{ 'PRODUCTIONORDER.DELIVERYDATE' | translate }}: {{productionorder.delivery_date_string}}</b><p>
      <span class="mat-list-item-divider">
        <mat-divider></mat-divider>
        </span>
    </mat-list-item>
  </mat-nav-list>
</div>
