<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container">
  <div>
    <mat-chip-list class="breadcrumb-left">
      <mat-chip disabled>{{ 'MENU.CUSTOMERS' | translate }}</mat-chip>
    </mat-chip-list>
    <div class="button-row-right breadcrumb-right">
      <button mat-flat-button color="primary" routerLink="/customer" routerLinkActive="active">{{ 'CUSTOMER.CREATE' | translate }}</button>
    </div>
  </div>
  <div>
    <mat-form-field class="search-box">
      <input matInput #searchBox placeholder="{{ 'CUSTOMER.SEARCH' | translate }}" (input)="search(searchBox.value)">
    </mat-form-field>
  </div>
  <mat-list class="mat-list spms-list">
    <mat-list-item class="mat-list-item" *ngFor="let customer of filteredCustomers">
      <div class="mat-list-item-content">
        <span class="mat-list-item-title">{{customer.name}}</span>
        <span class="mat-list-item-right-buttons">
          <button mat-stroked-button class="mat-list-item-right-button" color="primary" (click)="edit(customer.id)">
            <mat-icon>edit</mat-icon>
            {{ 'CUSTOMER.EDIT' | translate }}
          </button>
        </span>
        <span class="mat-list-item-divider">
          <mat-divider></mat-divider>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>